* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;

  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #cffcf1,
    #cffcf1,
    #defafe
  );
}

x .text-editor {
  margin: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  color: #000000;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input[type='color'] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.add-text-btn {
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-text-btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
@media screen and (max-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 50%;
    background-image: linear-gradient(
      to right,
      #ffffff,
      #cffcf1,
      #cffcf1,
      #defafe
    );
  }
}
